body {
  background-color: #dddddd;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

/* --- Search form --- */
input[type="text"] {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#search-type-selection label {
  display: inline-block;
  min-width: 8rem;
  margin-left: 5px;
  text-align: left;
}
button[type="submit"] {
  padding: 5px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* ------------------- */

/* --- Error box --- */
.error-box {
  background-color: rgba(255, 0, 0, 0.2);
  display: inline-block;
  padding: 0 20px;
  border-radius: 4px;
}
/* ----------------- */

/* --- Search results --- */
#search-results {
  /*width: 100%;*/
  display: grid;
  grid-template-columns: repeat(7, auto) minmax(150px, auto);
  grid-gap: 5px;
  /*justify-content: start;*/
  align-items: center;
  /*box-sizing: border-box;*/
}
#search-results .heading {
  font-weight: 700;
}
.flag {
  width: 100px;
}
/* ---------------------- */

/* --- Statistics box --- */
#statistics-box {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  margin: 0 auto;
  width: 400px;
  text-align: left;
}
#statistics-box .region,
#statistics-box .subregion {
  display: block;
}
/* ---------------------- */

h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

/*
#team-selection {
  input {
    $color1: var(--data-color);
    $color2: rgba(70, 70, 70, 0.4);
    $color3: rgba(70, 70, 70, 0.15);
    margin: 0;
    padding: 0;
    // height: 100%;
    height: 2.2em;
    // box-sizing: border-box;
    background-color: $color1;
    border: 0;
    box-shadow: inset 5px 5px 8px -5px rgba(0, 0, 0, 0.5);
  }

  input[name="teamName"] {
    padding-left: 8px;
    font-weight: bold;
    // text-align: left;
    box-sizing: border-box;
    // height: 100%;
    width: 100%;
  }

  input[name="playerCount"] {
    // padding-left: 3px;
    // height: 200%;
    // padding: 3px;
    font-weight: bold;
    // width: 30px;
    width: 100%;
    text-align: center;
  }
}
*/
